* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.section {
    width:100%;
    height: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.bar {
    color: white;
    background-color: blue;
    height: 125px;
    font-size: 20px;
    justify-content: space-between;
    padding: 0 20px 0 20px;

}

.statement {
    border: 6px solid black;
    height: 200px;
    width: 350px;
    margin: 15px;
    font-size: 30px;
    padding: 0 20px 0 20px;
}
@media only screen and (min-width: 401px) and (max-width:960px)
{
    .statement
    .bar {
        width: 50%;
    }
} 

@media only screen and (min-width:961px) {
    .statement {
        height: 200px;
        width: 400px;
        font-size: 40px;
    }
}


