* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    height: 140px;
    width: 100%;
    padding: 50px;
    background-color: white;

    display: flex;
    justify-content: space-between;

    position: fixed;


    font-size: 50px;
    color: red;
    font-family:Arial;

    z-index: 1;

}
.heroText {




    font-size:100px;
    font-family: Arial;
    color: #E50043;



}

.links > ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.links > ul > li {
    display: flex;
    padding-right: 25px;

}

.hero {

    height: 950px ;
    width: 1440px;
    position: relative;
    top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-image: url(evian_origins_logo.svg);
    background-size: cover;

}

.text {
    
    display: flex;
    flex-direction: column;
    margin: 150px 0;
    justify-items: center;
    border: 3px solid #F8BFC7;
    border-radius: 20px ;

    font-size: 25px;
    font-family:Arial;

}
.text > p {
    padding: 24px;
}

.bottom {
    padding: 50px;
    display: flex;
    width: 100%;

    font-family:Arial;
    font-size: 50px;
    background-color: #F8BFC7;
    color: #FFFFFF;
    
}
.bottles {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottleDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-left: 0;
    height:58px ;
    width: 249px; ;
    font-family:Arial;
    font-size: 25px;
}

.compound {
    margin: 150px 0;
    display: flex;
    height: 280px;
    border: 3px solid #F8BFC7;
    border-radius: 20px;
}

.smallBottle {
    padding: 30px 80px;
}

.compoundText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-family: "Arial";
    font-size: 25px;
    padding: 30px;
    padding-left: 0;
}
.main-container {
    margin: 0 auto;
    width: 1040px;



}