* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header,
.bottom {
    display: flex;
    height: 140px;

    justify-content: center;
    align-items: center;

    background-color: slategrey;
    font-size: 25px;
}

.albumsSelector {
    display: flex;
    justify-content: center;
    margin: 70px;
}

.album { 
    margin-right: 30px;


    width: 252px;
    border:1px solid black;
    margin-bottom: auto;
}

.discription {
    padding: 30px;
}

.nameOfAlbum {
    font-weight: bold;
    padding-bottom: 15px;
}